# Backend
backend/cardinalelect/venv
backend/cardinalelect/__pycache__
backend/cardinalelect/app/__pycache__
backend/cardinalelect/app/routes/__pycache__
backend/cardinalelect/app/middleware/__pycache__
backend/cardinalelect/app/db/__pycache__
backend/cardinalelect/app/utils/__pycache__
backend/.env

# Frontend
frontend/cardinalelect/node_modules
frontend/cardinalelect/dist

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea